Source: ros-kinetic-geometry-tutorials
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://www.ros.org/wiki/geometry_tutorials
Standards-Version: 3.9.2

Package: ros-kinetic-geometry-tutorials
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-turtle-tf, ros-kinetic-turtle-tf2
Description: Metapackage of geometry tutorials ROS.
