Source: ros-foxy-turtle-tf2-cpp
Section: misc
Priority: optional
Maintainer: Alejandro Hernández Cordero <alejandro@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-lint-auto <!nocheck>, ros-foxy-ament-lint-common <!nocheck>, ros-foxy-geometry-msgs, ros-foxy-launch, ros-foxy-launch-ros, ros-foxy-message-filters, ros-foxy-rclcpp, ros-foxy-tf2, ros-foxy-tf2-geometry-msgs, ros-foxy-tf2-ros, ros-foxy-turtlesim, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-turtle-tf2-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-geometry-msgs, ros-foxy-launch, ros-foxy-launch-ros, ros-foxy-message-filters, ros-foxy-rclcpp, ros-foxy-tf2, ros-foxy-tf2-geometry-msgs, ros-foxy-tf2-ros, ros-foxy-turtlesim, ros-foxy-ros-workspace
Description: turtle_tf2_cpp demonstrates how to write a ROS2 C++ tf2 broadcaster and listener with the turtlesim.
 The turtle_tf2_listener commands turtle2 to follow turtle1 around as you drive turtle1 using the keyboard.
